* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html{
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  gap: 1.3rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.note{
  background-color: #494949;
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 30rem;
  color: white;
}
.note button{
  width: 8rem;
  height: 2rem;
  border-radius: 0.5rem;

}
.create-note-form{
  display: flex;
  height: 6rem;
  gap: 1rem;
  border-radius: 2rem;
  padding-inline: 3rem;
  padding-block: 1rem;
  flex-wrap: wrap;
}
.create-note-form button{
  padding: 0.5rem;
  border-radius: 0.5rem;
  /* border: none;
  outline: none; */
  background-color: #b4b1b1;
}
